@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background-color: hsl(0, 3%, 27%); */
  /* color: white; */
  color: black;
  font-family: "Inter", sans-serif;
  margin: 0;
  height: 100vh;
}

/* .App {
  background-color: rgba(0, 0, 0, 0.644);
  width: 350px;
  border-radius: 15px 15px 0 0;
  margin-left: 100px;
  margin-top: 50px;
} */

/* change the list bullet color */
/* ul li::marker {
  color: #61dafb;
  font-size: 1.4rem;
} */

/* airbnb-logo project */
.airbnb-nav {
  height: 120px;
  display: flex;
  padding: 10px 136px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.airbnb-logo {
  max-width: 150px;
  height: 100px;
}

#hero-airbnb {
  padding: 40px;
  margin: 0 66px;
  color: black;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

#hero-airbnb > img {
  width: 100%;
  height: 100%;
}

#hero-airbnb > h3 {
  font-weight: 600;
  margin-top: 10px;
  font-size: 20px;
}

#hero-airbnb > p {
  font-weight: 500;
  font-size: 15px;
}

.airbnb-cards {
  display: flex;
}

.scroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.airbnb-card {
  background-color: #f8f3ec;
  margin: 0 16px;
  width: 200px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-bottom: 50px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.airbnb-card > img {
  width: 100%;
  min-height: 200px;
  border-radius: 9px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card-stats {
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.airbnb-card-content {
  padding-left: 10px;
}

.airbnb-card-content > p {
  padding-bottom: 8px;
}

/* Cats Profile project */
.card-cat {
  background-color: rgb(234, 227, 227);
  width: 250px;
  margin-left: 40px;
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 7px 3px rgba(20, 20, 20, 0.3);
}

.card-cat img {
  width: 100%;
  margin-bottom: 6px;
  height: 300px;
  object-fit: cover;
}

.card-cat img + h3 {
  padding: 4px 0;
}

.cat-tel,
.cat-email {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px 0;
}

.card-cat p {
  margin-left: 4px;
}

#cats {
  display: flex;
  flex-wrap: wrap;
}

/* Travel Jouranl project */
#travel--navbar {
  background-color: rgba(32, 129, 214, 0.96);
  height: 62px;
  font-family: "Poppins", sans-serif;
}

.travel-navbar-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin: auto;
  height: 100%;
  color: #f8f3ec;
}

.travel-navbar-box p {
  font-weight: 500;
  font-size: small;
  word-spacing: -2px;
}

.travel-single-card {
  max-width: 500px;
  height: 220px;

  margin: 0 auto;
  margin-top: 30px;
}

.travel-single-card {
  background-color: rgba(234, 241, 247, 0.96);
  padding: 13px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.travel-context {
  display: flex;
}

.travel-img {
  width: 150px;
  height: 180px;
  object-fit: cover;
  /* object-position: center; */
  margin-right: 18px;
  border-radius: 8px;
}

.travel-desc {
  padding: 11px 0;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.travel-location {
  display: flex;
  width: 260px;
  justify-content: baseline;
  align-items: center;
  font-size: 15px;
}

.travel-location-county {
  color: rgba(0, 0, 0, 0.81);
  padding-right: 16px;
  padding-left: 2px;
}

.travel-location a {
  color: rgba(0, 0, 0, 0.606);
  font-size: 14px;
}

.travel-location small:hover {
  cursor: pointer;
}

.travel-desc h5 {
  margin: 0;
  padding: 8px 0 17px;
  letter-spacing: 0.02rem;
}

.travel-date {
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 8px;
}

.travel-desc .paragraph {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/*  Meme Generator Project*/
#meme-navbar {
  height: 60px;
  background: linear-gradient(to right, #9c64e6, #6a6fa7dc);
  color: whitesmoke;
}

.meme-navbar-container {
  display: flex;
  align-items: center;
  padding: 13px 40px;
  width: 100%;
}

.meme-navbar-container > img {
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.meme-navbar-container > h3 {
  flex: 1;
  letter-spacing: 0.5px;
}

.meme-navbar-container > p {
  word-spacing: 3px;
  font-size: small;
}

.meme-form {
  max-width: 450px;
  margin: auto;
}

.input-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.input-group input {
  width: 210px;
  padding: 5px 8px;
  border: 1px solid rgba(131, 130, 130, 0.5);
  border-radius: 4px;
}

.meme-form > button {
  width: 450px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #9c64e6, #6a6fa7dc);
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.meme-form > button:hover {
  background: linear-gradient(to right, #7349a9, #6a6fa7dc);
}

.meme-form > button:active {
  transform: scale(0.98);
}

.meme-form span {
  padding-right: 4px;
}

.random-meme-img {
  width: 450px;
  margin: auto;
}

.meme--text {
  font-size: 40px;
  color: rgb(white);
  position: relative;
  background-color: #d2d0d029;
}

.top {
  position: absolute;
  top: 40px;
  left: 30px;
}

.bottom {
  position: absolute;
  bottom: 40px;
  left: 50px;
}

/* For boxes challenge */
.box-container {
  display: flex;
  flex-direction: row;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(88, 83, 83);
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 2px black;
  align-items: center;
  justify-content: center;
}

.filled {
  background-color: #222222;
  color: white;
}

.grey {
  background-color: #d2d0d0;
}

/* FORM in REACT */
/* 
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  height: 500px;
  justify-content: space-around;
  background-color: rgb(212, 210, 206);
  padding: 35px;
  margin-top: 30px;
  border-radius: 10px;
}
form input,
textarea {
  text-align: center;
  padding: 5px;
  font-size: small;
  border-radius: 10px;
  border: 1px solid gray;
}

form button {
  border: none;
  border-radius: 4px;
  padding: 4px 0;
  background: rgba(56, 55, 55, 0.658);
  color: white;
}

.agreed {
  display: flex;
  align-items: center;
}

label {
  font-size: 14px;
  margin-left: 4px;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.radio label {
  font-size: 13px;
  cursor: pointer;
} */

/* React Mode(light-dark) Switch Project */

.dark--header {
  background-color: black;
  color: white;
}

.dark--body {
  background-color: #484646;
  color: rgb(219, 219, 219);
}

.react-header {
  display: flex;
  height: 80px;
  padding: 15px 30px;
  align-items: center;
  box-shadow: 0px 2px 3px 0px #928f8f;
}

.react-header img {
  width: 40px;
}

.react-header h3 {
  flex: 1;
  margin-left: 6px;
  color: #61dbfb;
}

.mode-switch {
  display: flex;
  font-size: 14px;
  align-items: center;
  width: 120px;
  justify-content: space-between;
}

.mode-switch-btns {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 15px;
  background-color: black;
  height: 20px;
}

.mode--btn {
  height: 18px;
  width: 18px;
  border-radius: 9px;
  border: none;
}

.dark-text {
  color: black;
}

.react-hero {
  height: calc(100vh - 80px);
  padding-top: 50px;
  padding-left: 50px;
}

.react-hero > h1 {
  margin-bottom: 40px;
}

.react-facts {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

ul li::before {
  content: "\2022";
  color: #4eb5cf;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
